<h2>Contacts</h2>

<form action="contacts" method="post">
  <label>Your email</label>
  <input name="email" type="text" class="form-control" placeholder="Email input">
  <br>

  <label>Enter text</label>
  <textarea name="area" class="form-control" rows="3" placeholder="Enter text for send us"></textarea>
  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>